body{
    background-color: rgb(233, 230, 230);
}

.top{
    background: white;
    padding:55px;
    margin: 15px;
    align-items: center;
    border: 2px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.text_top h2 {
    font-size: 60px;
    padding: 0;
    margin: 0;
    color: rgb(110, 104, 104);
    font-weight: lighter;
}

.text_top h2 span{
    color: rgb(209, 71, 186);
}

.text_top p{
    margin: 0;
    font-size: 20px;
    color: gray;
    font-weight: 400px;
    padding-left: 75px;
    font-style:inherit ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}


.right_side{
    padding-right: 14px; 
    float: right;
    width: 73%;
}

.first-row{
    padding: 1px;
    margin-bottom: 13px;
    background: white;
    align-content: center;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.first-row p{
    padding-left: 65px;
    margin-left: 0px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
}


.dot{
    text-decoration: underline dotted;
}

.text_ex a{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(209, 71, 186);
}

.second_row{
    padding: 3px;
    /* margin: 50px; */
    padding-left: 20px;
    padding-right: 10%;
    margin-bottom: 13px;
    background: white;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.second_row h1{
    margin-bottom: -1%;
    font-size: 27px;
    font-weight:lighter;
    color: rgb(67, 67, 67);

}

.second_row p{
    font-size: 17px;
    margin-bottom: 15px;
    color: rgb(67, 67, 67);
    font-weight:lighter;
}

.third_row{
    padding: 3px;
    /* margin: 50px; */
    padding-left: 20px;
    padding-right: 10%;
    margin-bottom: 13px;

    background: white;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.third_row h1{
    margin-bottom: -1%;
    font-size: 27px;
    font-weight:lighter;
    color: rgb(67, 67, 67);

}

.third_row p{
    font-size: 17px;
    margin-bottom: 15px;
    color: rgb(67, 67, 67);
    font-weight:lighter;
}


.fourth_row{
    padding: 3px;
    /* margin: 50px; */
    padding-left: 20px;
    padding-right: 10%;
    margin-bottom: 13px;
    background: white;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

.fourth_row h1{
    margin-bottom: -1%;
    font-size: 27px;
    font-weight:lighter;
    color: rgb(67, 67, 67);

}

.fourth_row p{
    font-size: 17px;
    margin-bottom: 15px;
    color: rgb(67, 67, 67);
    font-weight:lighter;
}

a{
    color: rgb(209, 71, 186);
}

.fifth_row{
    padding: 3px;
    /* margin: 50px; */
    padding-left: 20px;
    padding-right: 10%;
    background: white;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

.fifth_row h1{
    margin-bottom: -1%;
    font-size: 27px;
    font-weight:lighter;
    color: rgb(67, 67, 67);

}

.fifth_row p{
    font-size: 17px;
    margin-bottom: 15px;
    color: rgb(67, 67, 67);
    font-weight:lighter;
}
.left_side{
    float: left;
    width: 23%;
    margin: -5px;
    padding: 11px;
    margin-top: -1.6%;
    padding-top: -20%;
}

.first_col{
    margin: 10px;
    padding:22px;
    margin-bottom: 13px;
    background: white;
    align-content: center;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.first_col h1{
    color: rgb(67, 67, 67);
    font-size: 26px;
    font-weight: lighter;


}

.author{
    border-bottom: 2px dotted #848181;
    padding-top: 2px;
    padding-bottom: 1px;

}

.first_col h3 {
    color: rgb(209, 71, 186);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.first_col p {
    font-size: 17px;
    margin-top: -15px;
    padding-bottom: 10px;
    color: rgb(67, 67, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.first_col span {
    font-weight: bold;
}

.second_col{
    margin: 10px;
    padding:17px;
    margin-bottom: 13px;
    background: white;
    align-content: center;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.second_col h3 {
    color: rgb(209, 71, 186);
    /* font-size: 20px; */
    /* font-weight: bold; */
    margin-bottom: 20px;
}

.second_col h1{
    color: rgb(67, 67, 67);
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: -10px;
}
.second_col h3{
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: lighter;
}

.border{
    border-bottom: 2px dotted #848181;

}

.third_col{
    margin: 10px;
    padding:17px;
    margin-bottom: 13px;
    background: white;
    align-content: center;
    border: 1px;
    border-radius: 11px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.third_col h3 {
    color: rgb(209, 71, 186);
    /* font-size: 20px; */
    /* font-weight: bold; */
    margin-bottom: 20px;
}

.third_col h1{
    color: rgb(67, 67, 67);
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: -10px;
}
.third_col h3{
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: lighter;
}

